

BETTER_AUTH_URL=http://localhost:3000
# openssl rand -base64 32
BETTER_AUTH_SECRET=""


DATABASE_URL="postgresql://user:admin@localhost:5432/postgres?schema=public"

SMART_COP_NAME="Smart Cop"
SMART_COP_EMAIL="smartcop@sabg.local"
SMART_COP_PASSWORD="SabgDemo2026!"